body {
  font-family: 'Nunito Sans', 'Tinos', 'Chivo' ;
  background-color: #f2f2f2;
  text-align: center;
  background-color: #212429;
  margin: 0;
  font-size: 18px;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: 1fr 50%;
  overflow:hidden;
  object-fit: contain;
  padding: 10px;
  gap: 10px;
  grid-template-areas: 
    'header header header header header header' 
    'left1 left1 left1 right1 right1 right1' 
    'left2 left2 left2 right2 right2 right2'
    'footer footer footer footer footer footer';
}


/* this is a test comment */
.header { 
  grid-area: header; 
  width: 100%; 
  background-color: #2a2e35;
  object-fit: contain;
  overflow: hidden;
}

.left1 { 
  grid-area: left1; 
  width: 1fr; 
  background-color: #474e5a;
  height: 850px;
  object-fit: contain;
  overflow: hidden;
}

.right1 { 
  grid-area: right1; 
  width: 1fr; 
  background-color: #192224;
  object-fit: contain;
  overflow: hidden;
  height: 850px;
}

.left2 { 
  grid-area: left2; 
  width: 1fr; 
  background-color: #192224;
  object-fit: contain;
  overflow: hidden;
  height: 750px;
}

.right2 { 
  widht: 1fr;
  grid-area: right2;  
  background-color: #474e5a;
  object-fit: fill;
  overflow: hidden;
  height: 750px;
}

.footer { 
  grid-area: footer; 
  width: 100%;
  text-align: center;
  background-color: #474e5a;
}

.holder {
  max-width: 80%;
  margin: 0 auto;
  background-color: #393e46;
}

/* Define styling for header text */
h1 {
  color: #f96d00;
  margin-top: 50px;
  font-size: 50px;
}

h2 {
  color: #f96d00;
  margin-top: 50px;
}

.foodimage {
  max-width: auto;
  height:1000px
}

/* Define styling for paragraph text */
p {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
}

a {
  color: lightblue;
}

ul {
  color: white;
  text-align: left;
}

ol {
  color: white;
  text-align: left;
}

.description {
  font-size: 20px;
}

.gif {
  height: 150px;
  width: 150px;
}

.first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #f96d00; 
}

.fourth-color { 
	background: #f2f2f2; 
}