body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f2f2f2;
  text-align: center;
  background-color: #283739;
}

/* Define styling for header text */
h1 {
  color: white;
  margin-top: 50px;
  font-family: "display";
  font-size: 50px;
}

h2 {
  color: white;
  margin-top: 50px;
}

.foodimage {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
}

.second-maxwidth {
  max-width: 60%;
  margin: auto;
}

/* Define styling for paragraph text */
p {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
}

a {
  color: lightblue;
}

ul {
  color: white;
  text-align: left;
}

ol {
  color: white;
  text-align: left;
}

.instructions {
  background-color: #3f575a;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  max-width: 50%;
  margin: auto;
  font-size: 18px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

.text {
  padding-left: 20px;
  margin-right: 50px;
}

.image {
  flex-basis: 40%;
}

#boxaround {
  width: 1600px;
  border: 15px greenyellow;
  padding: 50px;
  margin: 20px auto;
}

.description {
  font-size: 16px;
}

.first-color {
  background: #283739;
}

.second-color {
  background: #2c5d63;
}

.third-color {
  background: #a2c11c;
}

.fourth-color {
  background: #e0e0e0;
}
